{% extends 'blog/base.html' %}

{% block content %}
    <h1 class="title"> {{ post.title }}</h1>

    <small> Postado em {{ post.date_added }}</small>

    <p><strong> {{ post.intro }} </strong></p>

    <p> {{ post.body }} </p>


    <hr>

    <div class="col-12 bg-primary">.</div>
    <h2 class="subtitle">Comentários</h2>
    
    
   
   
    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.name }} </strong> <small> {{ comment.date_added }}</small>
                    </p>
                    <br>
                    {{ comment.body }}
                </div>
            </div>
        </article>
    {% empty %}
    <div class="notification">
        <p>Sem comentários</p>
    </div>

    {% endfor %}


 
    <div class="col-12 bg-primary">.</div>
    <hr>



    <br>
    <h2 class="subtitle">Deixe seu comentário </h2>
    <form method="post" action=".">
        {% csrf_token %}


        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="btn btn-success">Publicar</button>
            </div>
        </div>
    </form>


{% endblock %}